@model IEnumerable<BusinessType>
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2>
                Business types
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="BusinessType" asp-action="Create" class="btn btn-primary">
                <h2>
                    Create New Business type
                </h2>
            </a>
        </div>
    </div>
</div>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Business type
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td width=50% >
                    @obj.Name
                </td>
                <td>
                    <div class="btn btn-primary">
                        <a asp-controller="BusinessType" asp-action="Edit" asp-route-id="@obj.id" class="btn btn-danger btn-secondary">Edit</a>
                    </div>
                </td>
                <td>
                    <div class="btn btn-primary">
                        <a asp-controller="BusinessType" asp-action="Delete" asp-route-id="@obj.id" class="btn btn-danger btn-secondary">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>